<!-- Header Start -->
<div class="bg-header p-3">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-3 col-md-2 col-sm-3">
        <!-- Page's Logo -->
        <div class="logo">
          <a href="#!/">
            <img src="https://eleco.exdomain.net/image/catalog/logo/logo_eleco.png" alt="" class="card-img">
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 search">
        <form ng-submit="submitForm(search)" class="input-group">
          <input type="text" class="form-control" placeholder="Search Everythings You Want !" ng-model="search">
          <button class="btn btn-success" type="submit">Go <i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-3 d-flex justify-content-end">
        <a class="login mr-4" href="#!login">
          <i class="fa fa-user-circle text-light" aria-hidden="true"></i>
        </a>
        <a class="login text-decoration-none" href="#!cart">
          <i class="fas fa-cart-arrow-down text-light"></i>
          <span class="text-light text-decoration-none">{{carts.length}}</span>
        </a>
      </div>

    </div>
  </div>
</div>
<!-- Header End -->

<!-- Navigation Start -->
<div class="navigation bg-menu p-3">
  <div class="container-fluid">
    <div class="menu d-flex align-items-center justify-content-between">
      <div class="menu-icon">
        <a href="#!/">HOME</a>
      </div>
      <div class="menu-icon">
        <a href="#!shop">TOP SELLING ACs</a>
      </div>
      <div class="menu-icon" ng-repeat="item in cates">
        <a href="#!filter/{{item.id}}">{{item.name}}</a>
      </div>
      <div class="menu-icon">
        <a href="#!about">ABOUT</a>
      </div>
      <div class="menu-icon">
        <a href="#!contact">CONTACT</a>
      </div>
      <div class="menu-icon">
        <a href="#!faq">FAQs</a>
      </div>

    </div>
  </div>
</div>
<!-- Navigation End -->